jaylin.com.au/zpi_ejb/_comp/rootwsdl_importedwsdl_3_AdapterMessageMonitoring.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:prt0="urn:AdapterMessageMonitoringWsd/AdapterMessageMonitoringVi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:AdapterMessageMonitoringWsd/ssl">
<wsdl:import location="./rootwsdl_importedwsdl_2.wsdl" namespace="urn:AdapterMessageMonitoringWsd/AdapterMessageMonitoringVi"/>
<wsdl:binding name="sslBinding" type="prt0:AdapterMessageMonitoringVi">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="cancelMessages">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getConnections">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getInterfaces">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getUserDefinedSearchFilters">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getUserDefinedSearchExtractors">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getMessageBytesJavaLangStringBoolean">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getMessageBytesJavaLangStringIntBoolean">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getMessageList">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getUserDefinedSearchMessages">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getMessagesByKeys">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getLogEntries">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getParties">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getServices">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="resendMessages">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.InvalidKeyException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getStatusDetails">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getAllAvailableStatusDetails">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getErrorCodes">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="getIntegrationFlows">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException">
<soap:fault name="com.sap.aii.mdt.server.adapterframework.ws.OperationFailedException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
</wsdl:definitions>
